<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.report.ReportMapper">
  <select id="count" resultType="int">
    SELECT COUNT(*)
    FROM report
  </select>

  <select id="countByCateCode" parameterType="string" resultType="int">
    SELECT COUNT(*)
    FROM report
    WHERE cate_code = #{cate_code}
  </select>

  <select id="countByRepoSeq" parameterType="int" resultType="int">
    SELECT COUNT(*)
    FROM report
    WHERE repo_seq = #{repo_seq}
  </select>

  <select id="countByRespSeq" parameterType="int" resultType="int">
    SELECT COUNT(*)
    FROM report
    WHERE resp_seq = #{resp_seq}
  </select>


  <select id="existsByRno" parameterType="int" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM report
    WHERE rno = #{rno}
  </select>

  <select id="existsByRnoForUpdate" parameterType="int" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM report
    WHERE rno = #{rno}
    FOR UPDATE
  </select>

  <select id="existsByRepoSeq" parameterType="int" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM report
    WHERE repo_seq = #{repo_seq}
  </select>

  <select id="existsByRespSeq" parameterType="int" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM report
    WHERE resp_seq = #{resp_seq}
  </select>

  <!--
        rno, cate_code, title,
        cont, chk_change, comt,
        repo_seq, resp_seq, boar,
        cmnt, repl, type,
        reg_date, reg_user_seq, up_date,
        up_user_seq
  -->
  <select id="selectByRno" parameterType="int" resultType="ReportDto">
    SELECT
        rno, cate_code, title,
        cont, chk_change, comt,
        repo_seq, resp_seq, boar,
        cmnt, repl, type,
        reg_date, reg_user_seq, up_date,
        up_user_seq
    FROM report
    WHERE rno = #{rno}
  </select>

  <select id="countBySearchCondition" parameterType="SearchCondition" resultType="int">
    SELECT COUNT(*)
    FROM report
    WHERE TRUE
    <!-- 검색 조건 -->
    <choose>
      <when test='searchOption=="TT"'>
        AND title LIKE CONCAT('%', #{searchKeyword}, '%')
      </when>
      <when test='searchOption=="CT"'>
        AND cate_code LIKE CONCAT('%', #{searchKeyword}, '%')
      </when>
      <otherwise>
        AND title LIKE CONCAT('%', #{searchKeyword}, '%')
        OR cate_code LIKE CONCAT('%', #{searchKeyword}, '%')
      </otherwise>
    </choose>
  </select>

  <select id="selectBySearchCondition" parameterType="SearchCondition" resultType="ReportDto">
    SELECT
      rno, cate_code, title,
      cont, chk_change, comt,
      repo_seq, resp_seq, boar,
      cmnt, repl, type,
      reg_date, reg_user_seq, up_date,
      up_user_seq
    FROM report
    WHERE TRUE
    <!-- 검색 조건 -->
    <choose>
      <when test='searchOption=="TT"'>
        AND title LIKE CONCAT('%', #{searchKeyword}, '%')
      </when>
      <when test='searchOption=="CT"'>
        AND cate_code LIKE CONCAT('%', #{searchKeyword}, '%')
      </when>
      <otherwise>
        AND title LIKE CONCAT('%', #{searchKeyword}, '%')
        OR cate_code LIKE CONCAT('%', #{searchKeyword}, '%')
      </otherwise>
    </choose>

    <!-- 정렬 조건 -->
    <choose>
      <when test='sortOption == "1"'> <!-- 최신순 -->
        ORDER BY reg_date DESC, rno DESC
      </when>
      <otherwise> <!-- 기본값, 최신순 -->
        ORDER BY reg_date DESC, rno DESC
      </otherwise>
    </choose>
    LIMIT #{offset}, #{pageSize};
  </select>

  <select id="selectAll" resultType="ReportDto">
    SELECT
        rno, cate_code, title,
        cont, chk_change, comt,
        repo_seq, resp_seq, boar,
        cmnt, repl, type,
        reg_date, reg_user_seq, up_date,
        up_user_seq
    FROM report
    ORDER BY reg_date DESC
  </select>



  <insert id="insert" parameterType="ReportDto">
    <selectKey keyProperty="rno" resultType="int" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>

    INSERT INTO report
    (
        cate_code, title, cont,
        chk_change, comt, repo_seq,
        resp_seq, boar, cmnt,
        repl, type, reg_date,
        reg_user_seq, up_date, up_user_seq
    )
    VALUES
    (
        #{cate_code}, #{title}, #{cont},
        #{chk_change}, #{comt}, #{repo_seq},
        #{resp_seq}, #{boar}, #{cmnt},
        #{repl}, #{type}, #{reg_date},
        #{reg_user_seq}, #{up_date}, #{up_user_seq}
    )
  </insert>

  <update id="update" parameterType="ReportDto">
    UPDATE report
    SET
        cate_code = #{cate_code},
        title = #{title},
        cont = #{cont},
        chk_change = #{chk_change},
        comt = #{comt},
        repo_seq = #{repo_seq},
        resp_seq = #{resp_seq},
        boar = #{boar},
        cmnt = #{cmnt},
        repl = #{repl},
        type = #{type},
        reg_date = #{reg_date},
        reg_user_seq = #{reg_user_seq},
        up_date = #{up_date},
        up_user_seq = #{up_user_seq}
    WHERE rno = #{rno}
  </update>

  <delete id="delete" parameterType="int">
    DELETE FROM report
    WHERE rno = #{rno}
  </delete>

  <delete id="deleteAll">
    DELETE
    FROM report
  </delete>

</mapper>