<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.comment.CommentMapper">
  <select id="count" resultType="int">
    SELECT COUNT(*)
    FROM comment
  </select>

  <select id="countByBno" resultType="int">
    SELECT COUNT(*)
    FROM comment
    WHERE bno = #{bno}
  </select>

  <select id="existsByCno" parameterType="int" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM comment
    WHERE cno = #{cno}
  </select>

  <select id="existsByCnoForUpdate" parameterType="int" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM comment
    WHERE cno = #{cno}
    FOR UPDATE
  </select>

  <!-- 댓글 등록 -->
  <insert id="insert" parameterType="CommentDto" >
    <!-- 등록된 이후에 dto에 cno 저장 -->
    <selectKey keyProperty="cno" resultType="int" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>

    INSERT INTO comment(
        cno, bno, cont,
        like_cnt, dislike_cnt, reg_date,
        reg_user_seq, up_date, up_user_seq,
        user_seq, writer
    ) VALUES(
        #{cno}, #{bno}, #{cont},
        0, 0, CURRENT_DATE,
        #{user_seq}, CURRENT_DATE, #{user_seq},
        #{user_seq}, #{writer}
    )
  </insert>

  <!-- 댓글 조회 -->
  <!-- 특정 게시글과 과련된 댓글 조회 -->
  <select id="selectByBno" parameterType="int" resultType="CommentDto">
    SELECT
      cno, bno, cont,
      like_cnt, dislike_cnt, reg_date,
      reg_user_seq, up_date, up_user_seq,
      user_seq, writer
    FROM comment
    WHERE bno = #{bno}
  </select>

  <select id="selectByCno" parameterType="map" resultType="CommentDto">
    SELECT
      cno, bno, cont,
      like_cnt, dislike_cnt, reg_date,
      reg_user_seq, up_date, up_user_seq,
      user_seq, writer
    FROM comment
    WHERE cno = #{cno}
    ORDER BY cno DESC
    LIMIT #{offset}, #{pageSize};
  </select>

  <select id="selectAll" resultType="CommentDto">
    SELECT
      cno, bno, cont,
      like_cnt, dislike_cnt, reg_date,
      reg_user_seq, up_date, up_user_seq,
      user_seq, writer
    FROM comment
  </select>

  <!-- 댓글 수정 -->
  <update id="update" parameterType="CommentDto">
    UPDATE comment
    SET
        cont = #{cont},
        up_date = CURRENT_DATE,
        up_user_seq = #{user_seq}
    WHERE cno = #{cno}
  </update>

  <update id="increaseLikeCnt" parameterType="int">
    UPDATE comment
    SET
        like_cnt = like_cnt + 1
    WHERE cno = #{cno}
  </update>

  <update id="increaseDislikeCnt" parameterType="int">
    UPDATE comment
    SET
        dislike_cnt = dislike_cnt + 1
    WHERE cno = #{cno}
  </update>

  <!-- 게시글 삭제 -->
  <delete id="deleteByBno" parameterType="int">
    DELETE
    FROM comment
    WHERE bno = #{bno}
  </delete>

  <delete id="deleteByCno" parameterType="int">
    DELETE
    FROM comment
    WHERE cno = #{cno}
  </delete>


  <delete id="deleteAll">
    DELETE
    FROM comment
  </delete>
</mapper>