<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <typeAliases>
    <!-- code -->
    <typeAlias alias="CodeRequestDto" type="com.example.demo.dto.code.request.CodeRequestDto"/>
    <typeAlias alias="CodeResponseDto" type="com.example.demo.dto.code.response.CodeResponseDto"/>
  </typeAliases>
</configuration>