<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <typeAliases>
    <!-- 공통 -->
    <typeAlias alias="SearchCondition" type="com.example.demo.dto.SearchCondition"/>

    <!-- code -->
    <typeAlias alias="CodeDto" type="com.example.demo.dto.code.CodeDto"/>

    <!-- service -->
    <typeAlias alias="ServiceRuleUseDto" type="com.example.demo.dto.service.ServiceRuleUseDto"/>
    <typeAlias alias="ServiceTermsDto" type="com.example.demo.dto.service.ServiceTermsDto"/>
    <typeAlias alias="ServiceTermsConditionDto" type="com.example.demo.dto.service.ServiceTermsConditionDto"/>

  </typeAliases>
</configuration>