<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.code.CommonCodeMapper">
  <select id="count" resultType="int">
    SELECT COUNT(*)
    FROM common_code
  </select>

  <select id="countBySearchCondition" parameterType="SearchCondition" resultType="int">
    SELECT COUNT(*)
    FROM common_code
    WHERE TRUE
        <choose>
          <when test='searchOption=="NM"'>
            AND name LIKE CONCAT('%', #{searchKeyword}, '%')
          </when>
          <when test='searchOption=="CV"'>
            AND chk_use LIKE CONCAT('%', #{searchKeyword}, '%')
          </when>
          <when test='searchOption=="LV"'>
            AND level = #{searchKeyword}
          </when>
          <when test='searchOption=="TC"'>
            AND top_code LIKE CONCAT('%', #{searchKeyword}, '%')
          </when>
        </choose>
  </select>

  <select id="existsByCode" parameterType="string" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM common_code
    WHERE code = #{code}
  </select>


  <select id="select" parameterType="string" resultType="CodeDto">
    SELECT
      seq,
      level,
      code,
      name,
      chk_use,
      reg_date,
      reg_user_seq,
      up_date,
      up_user_seq,
      top_code
    FROM common_code
    WHERE code = #{code}
  </select>

  <select id="selectByTopCode" parameterType="string" resultType="CodeDto">
    SELECT
      seq,
      level,
      code,
      name,
      chk_use,
      reg_date,
      reg_user_seq,
      up_date,
      up_user_seq,
      top_code
    FROM common_code
    WHERE top_code = #{top_code}
  </select>

  <select id="selectBySeq" parameterType="int" resultType="CodeDto">
    SELECT
      seq,
      level,
      code,
      name,
      chk_use,
      reg_date,
      reg_user_seq,
      up_date,
      up_user_seq,
      top_code
    FROM common_code
    WHERE seq = #{seq}
  </select>

  <select id="selectByCode" parameterType="string" resultType="CodeDto">
    SELECT
      seq,
      level,
      code,
      name,
      chk_use,
      reg_date,
      reg_user_seq,
      up_date,
      up_user_seq,
      top_code
    FROM common_code
    WHERE code = #{code}
  </select>

  <select id="selectBySearchCondition" parameterType="SearchCondition" resultType="CodeDto">
    SELECT
      seq,
      level,
      code,
      name,
      chk_use,
      reg_date,
      reg_user_seq,
      up_date,
      up_user_seq,
      top_code
    FROM common_code
    WHERE TRUE
    <!-- 검색 조건 -->
    <choose>
      <when test='searchOption=="NM"'>
        AND name LIKE CONCAT('%', #{searchKeyword}, '%')
      </when>
      <when test='searchOption=="CV"'>
        AND chk_use LIKE CONCAT('%', #{searchKeyword}, '%')
      </when>
      <when test='searchOption=="LV"'>
        AND level = #{searchKeyword}
      </when>
      <when test='searchOption=="TC"'>
        AND top_code LIKE CONCAT('%', #{searchKeyword}, '%')
      </when>
    </choose>

    <!-- 정렬 조건 -->
    <choose>
      <when test='sortOption == "1"'> <!-- 최신순 -->
        ORDER BY reg_date DESC
      </when>
      <when test='sortOption == "2"'> <!-- 오래된순 -->
        ORDER BY reg_date
      </when>
      <otherwise> <!-- 기본값, 최신순 -->
        ORDER BY reg_date DESC
      </otherwise>
    </choose>

    <!-- 페이징 처리 -->
    LIMIT #{offset}, #{pageSize};
  </select>

  <select id="selectAll" resultType="CodeDto">
    SELECT
      seq,
      level,
      code,
      name,
      chk_use,
      reg_date,
      reg_user_seq,
      up_date,
      up_user_seq,
      top_code
    FROM common_code
  </select>

  <insert id="insert" parameterType="CodeDto">
    <selectKey keyProperty="seq" order="AFTER" resultType="int">
      SELECT LAST_INSERT_ID()
    </selectKey>

    INSERT INTO common_code
    (
    level, code, name,
    chk_use, reg_date, reg_user_seq,
    up_date, up_user_seq, top_code
    )
    VALUES
    (
    #{level}, #{code}, #{name},
    #{chk_use}, #{reg_date}, #{reg_user_seq},
    #{up_date}, #{up_user_seq}, #{top_code}
    );
  </insert>

  <update id="update" parameterType="CodeDto">
    UPDATE common_code
    SET
      level = #{level},
      code = #{code},
      name = #{name},
      chk_use = #{chk_use},
      up_date = #{up_date},
      up_user_seq = #{up_user_seq},
      top_code = #{top_code}
    WHERE seq = #{seq}
  </update>

  <update id="updateUse" parameterType="CodeDto">
    UPDATE common_code
    SET
      chk_use = #{chk_use}
    WHERE code = #{code}
  </update>

  <delete id="deleteByLevel" parameterType="int">
    DELETE
    FROM common_code
    WHERE level = #{level}
  </delete>

  <delete id="deleteByCode" parameterType="string">
    DELETE
    FROM common_code
    WHERE code = #{code}
  </delete>

  <delete id="delete" parameterType="int">
    DELETE
    FROM common_code
    WHERE seq = #{seq}
  </delete>

</mapper>