<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.service.ServiceRuleUseMapper">

  <select id="count" resultType="int">
    SELECT COUNT(*)
    FROM service_rule_use
  </select>

  <select id="countBySearchCondition" parameterType="SearchCondition" resultType="int">
    SELECT COUNT(*)
    FROM service_rule_use
    WHERE TRUE
    <choose>
      <when test='searchOption=="NM"'>
        AND name LIKE CONCAT('%', #{searchKeyword}, '%')
      </when>
      <when test='searchOption=="CV"'>
        AND chk_use LIKE CONCAT('%', #{searchKeyword}, '%')
      </when>
      <when test='searchOption=="TN"'>
        AND tar_name = #{searchKeyword}
      </when>
      <when test='searchOption=="CD"'>
        AND code LIKE CONCAT('%', #{searchKeyword}, '%')
      </when>
    </choose>
  </select>


  <select id="countByCode" parameterType="string" resultType="int">
    SELECT COUNT(*)
    FROM service_rule_use
    WHERE code = #{code}
  </select>


  <select id="selectByRuleStat" parameterType="string" resultType="ServiceRuleUseDto">
    SELECT
      rule_stat,
      name,
      tar_name,
      op1,
      op2,
      op3,
      val1,
      val2,
      val3,
      val4,
      val5,
      chk_use,
      curr_use_op,
      curr_use_val,
      reg_date,
      reg_user_seq,
      up_date,
      up_user_seq,
      code
    FROM service_rule_use
    WHERE rule_stat = #{rule_stat}
  </select>

  <select id="selectByCode" parameterType="string" resultType="ServiceRuleUseDto">
    SELECT
      rule_stat,
      name,
      tar_name,
      op1,
      op2,
      op3,
      val1,
      val2,
      val3,
      val4,
      val5,
      chk_use,
      curr_use_op,
      curr_use_val,
      reg_date,
      reg_user_seq,
      up_date,
      up_user_seq,
      code
    FROM service_rule_use
    WHERE code = #{code}

  </select>

  <select id="selectBySearchCondition" parameterType="SearchCondition" resultType="ServiceRuleUseDto">
    SELECT
        rule_stat,
        name,
        tar_name,
        op1,
        op2,
        op3,
        val1,
        val2,
        val3,
        val4,
        val5,
        chk_use,
        curr_use_op,
        curr_use_val,
        reg_date,
        reg_user_seq,
        up_date,
        up_user_seq,
        code
    FROM service_rule_use
    WHERE TRUE
    <choose>
      <when test='searchOption=="NM"'>
        AND name LIKE CONCAT('%', #{searchKeyword}, '%')
      </when>
      <when test='searchOption=="CV"'>
        AND chk_use LIKE CONCAT('%', #{searchKeyword}, '%')
      </when>
      <when test='searchOption=="TN"'>
        AND tar_name = #{searchKeyword}
      </when>
      <when test='searchOption=="CD"'>
        AND code LIKE CONCAT('%', #{searchKeyword}, '%')
      </when>
    </choose>

    <!-- 정렬 조건 -->
    <choose>
      <when test='sortOption == "1"'> <!-- 최신순 -->
        ORDER BY reg_date DESC
      </when>
      <when test='sortOption == "2"'> <!-- 오래된순 -->
        ORDER BY reg_date
      </when>
      <otherwise> <!-- 기본값, 최신순 -->
        ORDER BY reg_date DESC
      </otherwise>
    </choose>

    <!-- 페이징 처리 -->
    LIMIT #{offset}, #{pageSize};
  </select>

  <select id="selectAll" resultType="ServiceRuleUseDto">
    SELECT
      rule_stat,
      name,
      tar_name,
      op1,
      op2,
      op3,
      val1,
      val2,
      val3,
      val4,
      val5,
      chk_use,
      curr_use_op,
      curr_use_val,
      reg_date,
      reg_user_seq,
      up_date,
      up_user_seq,
      code
    FROM service_rule_use
  </select>

  <insert id="insert" parameterType="ServiceRuleUseDto">
    INSERT INTO service_rule_use
    (
      rule_stat, name, tar_name,
      op1, op2, op3,
      val1, val2, val3,
      val4, val5, chk_use,
      curr_use_op, curr_use_val, reg_date,
      reg_user_seq, up_date, up_user_seq,
      code
    )
    VALUES
      (
        #{rule_stat}, #{name}, #{tar_name},
        #{op1}, #{op2}, #{op3},
        #{val1}, #{val2}, #{val3},
        #{val4}, #{val5}, #{chk_use},
        #{curr_use_op}, #{curr_use_val}, #{reg_date},
        #{reg_user_seq}, #{up_date}, #{up_user_seq},
        #{code}
      );
  </insert>

  <update id="update" parameterType="ServiceRuleUseDto">
    UPDATE service_rule_use
    SET
      rule_stat = #{rule_stat},
      name = #{name},
      tar_name = #{tar_name},
      op1 = #{op1},
      op2 = #{op2},
      op3 = #{op3},
      val1 = #{val1},
      val2 = #{val2},
      val3 = #{val3},
      val4 = #{val4},
      val5 = #{val5},
      chk_use = #{chk_use},
      reg_date = #{reg_date},
      reg_user_seq = #{reg_user_seq},
      up_date = #{up_date},
      up_user_seq = #{up_user_seq},
      code = #{code}
    WHERE rule_stat = #{rule_stat}
  </update>

  <update id="updateUse" parameterType="ServiceRuleUseDto">
    UPDATE service_rule_use
    SET
      chk_use = #{chk_use}
    WHERE rule_stat = #{rule_stat}
  </update>

  <delete id="deleteByRuleStat" parameterType="string">
    DELETE
    FROM service_rule_use
    WHERE rule_stat = #{rule_stat}
  </delete>

  <delete id="deleteByCode" parameterType="string">
    DELETE
    FROM service_rule_use
    WHERE code = #{code}
  </delete>

  <delete id="deleteAll">
    DELETE
    FROM service_rule_use
  </delete>

</mapper>