<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.service.ServiceTermsMapper">

  <select id="count" resultType="int">
    SELECT COUNT(*)
    FROM service_terms
  </select>

  <select id="countBySearchCondition" parameterType="SearchCondition" resultType="int">
    SELECT COUNT(*)
    FROM service_terms
    WHERE TRUE
    <!-- 검색 조건 -->
    <choose>
      <when test='searchOption=="NM"'>
        AND name LIKE CONCAT('%', #{searchKeyword}, '%')
      </when>
      <when test='searchOption=="CV"'>
        AND chk_use LIKE CONCAT('%', #{searchKeyword}, '%')
      </when>
      <when test='searchOption=="CD"'>
        AND code = #{searchKeyword}
      </when>
    </choose>

    <!-- 정렬 조건 -->
    <choose>
      <when test='sortOption == "1"'> <!-- 최신순 -->
        ORDER BY reg_date DESC
      </when>
      <when test='sortOption == "2"'> <!-- 오래된순 -->
        ORDER BY reg_date
      </when>
      <otherwise> <!-- 기본값, 최신순 -->
        ORDER BY reg_date DESC
      </otherwise>
    </choose>

    <!-- 페이징 처리 -->
    LIMIT #{offset}, #{pageSize};
  </select>

  <select id="select" parameterType="string" resultType="ServiceTermsDto">
    SELECT
      poli_stat,
      name,
      rule_stat1,
      op1,
      rule_stat2,
      op2,
      rule_stat3,
      comt,
      chk_use,
      reg_date,
      reg_user_seq,
      up_date,
      up_user_seq,
      code
    FROM service_terms
    WHERE poli_stat = #{poli_stat}
  </select>

  <select id="selectBySearchCondition" parameterType="SearchCondition" resultType="ServiceTermsDto">
    SELECT
      poli_stat,
      name,
      rule_stat1,
      op1,
      rule_stat2,
      op2,
      rule_stat3,
      comt,
      chk_use,
      reg_date,
      reg_user_seq,
      up_date,
      up_user_seq,
      code
    FROM service_terms
    WHERE TRUE
    <!-- 검색 조건 -->
    <choose>
      <when test='searchOption=="NM"'>
        AND name LIKE CONCAT('%', #{searchKeyword}, '%')
      </when>
      <when test='searchOption=="CV"'>
        AND chk_use LIKE CONCAT('%', #{searchKeyword}, '%')
      </when>
      <when test='searchOption=="CD"'>
        AND code = #{searchKeyword}
      </when>
    </choose>

    <!-- 정렬 조건 -->
    <choose>
      <when test='sortOption == "1"'> <!-- 최신순 -->
        ORDER BY reg_date DESC
      </when>
      <when test='sortOption == "2"'> <!-- 오래된순 -->
        ORDER BY reg_date
      </when>
      <otherwise> <!-- 기본값, 최신순 -->
        ORDER BY reg_date DESC
      </otherwise>
    </choose>

    <!-- 페이징 처리 -->
    LIMIT #{offset}, #{pageSize};
  </select>

  <select id="selectForCondition" parameterType="string" resultType="ServiceTermsConditionDto">
    SELECT
      st.poli_stat AS poli_stat,
      st.name AS name,

      CONCAT(
        -- 1. 첫 번째 이용 규칙 조건문 생성
        (SELECT
             GROUP_CONCAT(CONCAT(sr1.tar_name, ' ', sr1.op1, ' ', sr1.val1) SEPARATOR ';')
         FROM service_rule_use AS sr1
         WHERE sr1.rule_stat = st.rule_stat1
         AND sr1.chk_use = 'Y'
         AND st.rule_stat1 IS NOT NULL),

        -- 다른 조건문과 결합
        ' ',
        st.op1,
        ' ',

        -- 2. 두 번째 이용 규칙 조건문 생성
        (SELECT
             GROUP_CONCAT(CONCAT(sr2.tar_name, ' ', sr2.op1, ' ', sr2.val1) SEPARATOR ';')
         FROM service_rule_use AS sr2
         WHERE sr2.rule_stat = st.rule_stat2
         AND sr2.chk_use = 'Y'
         AND st.rule_stat2 IS NOT NULL),

        -- 다른 조건문과 결합
        ' ',
        st.op2,
        ' ',

        -- 3. 세 번째 이용 규칙 조건문 생성
        (SELECT
             GROUP_CONCAT(CONCAT(sr3.tar_name, ' ', sr3.op1, ' ', sr3.val1) SEPARATOR ';')
         FROM service_rule_use AS sr3
         WHERE sr3.rule_stat = st.rule_stat3
         AND sr3.chk_use = 'Y'
         AND st.rule_stat3 IS NOT NULL)
      ) AS cond
    FROM service_terms AS st
    WHERE st.poli_stat = #{poli_stat}
    AND st.chk_use = 'Y';
  </select>

  <insert id="insert" parameterType="ServiceTermsDto">
    INSERT INTO service_terms
    (
      poli_stat, name,
      rule_stat1, op1,
      rule_stat2, op2,
      rule_stat3,
      comt, chk_use, reg_date,
      reg_user_seq, up_date, up_user_seq,
      code)
    VALUES
      (
        #{poli_stat}, #{name},
        #{rule_stat1}, #{op1},
        #{rule_stat2}, #{op1},
        #{rule_stat3},
        #{comt}, #{chk_use}, #{reg_date},
        #{reg_user_seq}, #{up_date}, #{up_user_seq},
        #{code}
      )
  </insert>

  <update id="update" parameterType="ServiceTermsDto">
    UPDATE service_terms
    SET
      poli_stat = #{poli_stat},
      name = #{name},
      rule_stat1 = #{rule_stat1},
      op1 = #{op1},
      rule_stat2 = #{rule_stat2},
      op2 = #{op2},
      rule_stat3 = #{rule_stat3},
      comt = #{comt},
      chk_use = #{chk_use},
      up_date = #{up_date},
      up_user_seq = #{up_user_seq}
    WHERE poli_stat = #{poli_stat}
  </update>

  <update id="updateChkUse" parameterType="ServiceTermsDto">
    UPDATE service_terms
    SET
      chk_use = #{chk_use},
      up_date = #{up_date},
      up_user_seq = #{up_user_seq}
    WHERE poli_stat = #{poli_stat}
  </update>

  <delete id="delete" parameterType="string">
    DELETE
    FROM service_terms
    WHERE poli_stat = #{poli_stat}
  </delete>

  <delete id="deleteAll">
    DELETE
    FROM service_terms
  </delete>
</mapper>