<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.board.BoardImgMapper">
  <select id="count" resultType="int">
    SELECT COUNT(*)
    FROM image
  </select>

  <!-- 이미지 등록 -->
  <insert id="insert" parameterType="com.example.demo.dto.ord_board.BoardImgFormDto">
    INSERT INTO image
    (bno, name, img, comt, reg_date, reg_id, up_date, up_id, thumb)
    VALUES
    (#{bno}, #{name}, #{img}, #{comt}, now(), #{reg_id}, now(), #{up_id}, #{thumb});
  </insert>

  <!-- 특정 게시글의 이미지 조회 -->
  <select id="selectAllByBno" parameterType="int" resultType="com.example.demo.dto.ord_board.BoardImgFormDto">
    SELECT
        bno, ino, name,
        img, comt, reg_date,
        reg_id, up_date, up_id
    FROM image
    WHERE bno = #{bno}
  </select>

  <!-- 특정 이미지 조회 -->
  <select id="selectByIno" parameterType="int" resultType="com.example.demo.dto.ord_board.BoardImgFormDto">
    SELECT
      bno, ino, name,
      img, comt, reg_date, reg_id,
      up_date, up_id
    FROM image
    WHERE ino = #{ino}
  </select>

  <!-- 이미지 전체 조회 -->
  <select id="selectAll" resultType="com.example.demo.dto.ord_board.BoardImgFormDto">
    SELECT
        bno, ino, name,
        img, comt, reg_date, reg_id,
        up_date, up_id
    FROM image
  </select>

  <!-- 이미지 수정 -->
  <update id="update" parameterType="com.example.demo.dto.ord_board.BoardImgFormDto">
    UPDATE image
    SET
        img = #{img}, name = #{name}, comt = #{comt},
        up_date = now(), up_id = #{up_id}
    WHERE ino = #{ino}
  </update>

  <!-- 특정 이미지 삭제 -->
  <delete id="deleteByIno" parameterType="int">
    DELETE
    FROM image
    WHERE ino = #{ino}
  </delete>

  <!-- 특정 게시글의 이미지 삭제 -->
  <delete id="deleteByBno" parameterType="int">
    DELETE
    FROM image
    WHERE bno = #{bno}
  </delete>

  <!-- 이미지 전체 삭제 -->
  <delete id="deleteAll">
    DELETE
    FROM image
  </delete>

</mapper>