<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.reply.ReplyMapper">

  <!-- rcno, cno, bno, cont, like_cnt, dislike_cnt, reg_date, reg_user_seq, up_date, user_seq, writer-->
  <select id="count" resultType="int">
    SELECT COUNT(*)
    FROM reply
  </select>


  <select id="countByBno" parameterType="int" resultType="int">
    SELECT COUNT(*)
    FROM reply
    WHERE bno = #{bno}
  </select>

  <select id="existsByRcno" parameterType="int" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM reply
    WHERE rcno = #{rcno}
  </select>

  <select id="existsByRcnoForUpdate" parameterType="int" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM reply
    WHERE rcno = #{rcno}
    FOR UPDATE
  </select>

  <insert id="insert" parameterType="ReplyDto">
    <selectKey keyProperty="rcno" resultType="int" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>

    INSERT INTO reply
    (
        cno, bno,
        cont, like_cnt, dislike_cnt,
        reg_date, reg_user_seq, up_date,
        up_user_seq, user_seq, writer
    )
    VALUES
    (
        #{cno}, #{bno},
        #{cont}, 0, 0,
        CURRENT_DATE, #{reg_user_seq}, CURRENT_DATE,
        #{up_user_seq}, #{user_seq}, #{writer}
    )
  </insert>

  <select id="selectByBnoAndCno" parameterType="map" resultType="ReplyDto">
    SELECT
      rcno, cno, bno,
      cont, like_cnt, dislike_cnt,
      reg_date, reg_user_seq, up_date,
      up_user_seq, user_seq, writer
    FROM reply
    WHERE bno = #{bno}
    AND cno = #{cno}
  </select>

  <select id="selectByBno" parameterType="int" resultType="ReplyDto">
    SELECT
      rcno, cno, bno,
      cont, like_cnt, dislike_cnt,
      reg_date, reg_user_seq, up_date,
      up_user_seq, user_seq, writer
    FROM reply
    WHERE bno = #{bno}
  </select>

  <select id="selectByCno" parameterType="int" resultType="ReplyDto">
    SELECT
      rcno, cno, bno,
      cont, like_cnt, dislike_cnt,
      reg_date, reg_user_seq, up_date,
      up_user_seq, user_seq, writer
    FROM reply
    WHERE cno = #{cno}
  </select>

  <select id="selectByRcno" parameterType="int" resultType="ReplyDto">
    SELECT
      rcno, cno, bno,
      cont, like_cnt, dislike_cnt,
      reg_date, reg_user_seq, up_date,
      up_user_seq, user_seq, writer
    FROM reply
    WHERE rcno = #{rcno}
  </select>

  <select id="selectAll" resultType="ReplyDto">
    SELECT
      rcno, cno, bno,
      cont, like_cnt, dislike_cnt,
      reg_date, reg_user_seq, up_date,
      up_user_seq, user_seq, writer
    FROM reply
  </select>

  <update id="update" parameterType="ReplyDto">
    UPDATE reply
    SET
        cont = #{cont},
        writer = #{writer},
        up_date = CURRENT_DATE,
        up_user_seq = #{up_user_seq}
    WHERE rcno = #{rcno}
  </update>

  <update id="increaseRecoCnt" parameterType="int">
    UPDATE reply
    SET
        like_cnt = like_cnt + 1
    WHERE rcno = #{rcno}
  </update>

  <update id="increaseNotRecoCnt" parameterType="int">
    UPDATE reply
    SET
        dislike_cnt = dislike_cnt + 1
    WHERE rcno = #{rcno}
  </update>

  <delete id="delete" parameterType="int">
    DELETE
    FROM reply
    WHERE rcno = #{rcno}
  </delete>

  <delete id="deleteByBno" parameterType="int">
    DELETE
    FROM reply
    WHERE bno = #{bno}
  </delete>

  <delete id="deleteByCno" parameterType="int">
    DELETE
    FROM reply
    WHERE cno = #{cno}
  </delete>

  <delete id="deleteByBnoAndCno" parameterType="map">
    DELETE
    FROM reply
    WHERE bno = #{bno}
    AND cno = #{cno}
  </delete>

  <delete id="deleteAll">
    DELETE
    FROM reply
  </delete>

</mapper>